body{
  margin-top: 2rem;}
.Nav{
  width: 100%;
  display: flex;
  padding: auto;
  align: center;
}
.Box{
  background-color: #2a296a;
  display: block;
  border: thick outset #9eccea;
  

}
.Logo{
  padding: 6px;
}
.Texto{
  color: aliceblue;
}
